#Details {
    border: 1px solid grey;
    padding: 20px;
    width: 35%;
}

a{
    color: rgb(211, 47, 47);
    padding: 6px;
    position: relative;
    left: 24%;
    top: 15px;
 }
a:hover{
    color: blue;
}

#save{
      color: rgb(194, 112, 12);
}